/* We can customize the theme CSS here */
div.titleslide h1 { padding-top: 30pt; font-size: 40pt; font-weight: bold;}

div.slide h1 {font-size: 36pt;}
div.slide h2 {font-size: 20pt;}
div.slide {
	margin-top : 5px;
}


body {

                  font-family: 'Quicksand', sans-serif;
  }
