__pycache__/
.DS_Store
*.pyc
book/tooling/notebooks/data/**
book/tooling/notebooks/Exploration/GeoKGComplete/World_Seas_IHO_v3/**
book/_build/**
/.ipynb_checkpoints/
.idea/**
.idea
.vscode/**
.tours/**
secret/
/.fleet/
.ipynb_checkpoints/
/.idea/
_build/**
/_build/
/graphOps/extraction/book2text/.verba/
/graphOps/extraction/book2text/output_md/
/graphOps/extraction/book2text/output_txt/
/graphOps/extraction/graphView/output/
/graphOps/extraction/mdp/output/
