.DS_Store
book/tooling/notebooks/data/**
book/tooling/notebooks/Exploration/GeoKGComplete/World_Seas_IHO_v3/**
book/_build/**
/.ipynb_checkpoints/
.idea/**
.idea
.vscode/**
.tours/**
secret/
/.fleet/
/.ipynb_checkpoints/
/.idea/
