.DS_Store
book/tooling/notebooks/data/**
book/tooling/notebooks/Exploration/GeoKGComplete/World_Seas_IHO_v3/**
book/_build/**
.idea/**
.vscode/**
.tours/**
secret/
/.fleet/
/code/.idea/
/code/notebooks/.ipynb_checkpoints/prettytest-checkpoint.html
/code/notebooks/Exploration/dashboard/.ipynb_checkpoints/dashboard-checkpoint.py
