.rescard {
    /* width: 75%; */
    display: flex;
    flex-direction: column;
    border: 1px rgb(175, 175, 175) solid;
    margin: 20px;
}

.resheader {
    /* height: 75%; */
    background: rgb(235, 235, 235);
    color: rgb(251, 136, 136);
    text-align: center;
}

.rescontainer {
    padding: 2px 16px;
}