###### Requirements without Version Specifiers ######`
pandas
matplotlib 
requests 
openpyxl
streamlit
boto3
streamlit-aggrid
streamlit_folium 
streamlit-agraph
folium
geopandas
pyproj
boto3
plotly
shapely
SPARQLWrapper 

###### Requirements with Version Specifiers == >= != ~= ######`

