###### Requirements without Version Specifiers ######`
pandas
matplotlib 
requests 
openpyxl
streamlit
boto3
streamlit-aggrid
streamlit_folium 
folium
geopandas
pyproj
boto3
plotly

###### Requirements with Version Specifiers == >= != ~= ######`

